* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: rgb(250, 250, 250);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  /* Removes extra spacing in between flex-wraps */
  align-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 85px 30px 23px 30px;
  justify-content: center;
}

.card-container {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.3em;
}
.card-img {
  width: 100%;
}
.card-text-container {
  width: 100%;
  height: 100%;
  text-align: center;
  /* margin: 10px 0; */
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-text {
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
}
.card-price {
  font-size: 0.75em;
  color: #333;
}

/* Media queries for fluid and bigger pictures. */

/* 3 columns */
@media screen and (max-width: 1139px) {
  .card {
    width: 300px;
  }
}

/* 2 columns */
@media screen and (max-width: 959px) {
  .card {
    width: 50%;
  }
}

/* 1 column */
@media screen and (max-width: 659px) {
  #app {
    max-width: 1080px;
  }
  .card {
    width: 80%;
  }
}
