* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: rgb(250, 250, 250);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 85px 30px 23px 30px;
  justify-content: center;
}
/* For 4 pics */
/* On window 1411px -> to max-width: 1080px; */

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.3em;
}
/* For 4 pics */
/* On window 1411px -> width: 270px; */

@media screen and (max-width: 1111px) {
  #app {
    max-width: 1080px;
  }

  .card {
    width: 300px;
  }
}

@media screen and (min-width: 875px) {
  #app {
    max-width: 1080px;
  }

  .card {
    width: 270px;
  }
}

@media screen and (max-width: 659px) {
  #app {
    max-width: 1080px;
  }

  .card {
    width: 80%;
  }
}

.item-img {
  width: 100%;
}
.text-container {
  text-align: center;
}
.item-text {
  font-size: 0.75em;
  font-weight: 700;
}
.item-price {
  font-weight: 300;
  font-size: 0.75em;
}
